<p-menubar styleClass="md:px-6">
    <ng-template pTemplate="start">
        <div class="fadeinright animation-duration-1000 flex flex-row align-items-center cursor-pointer mr-3 md:mr-5">
            <img src="runes-talk-icon.svg" alt="RunesTalk" class="max-h-3rem mr-2" style="object-fit: contain;">
            <span class="text-4xl font-bold">
                <span class="text-400">Runes</span>
                <span class="text-blue-400">Talk</span>
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="end">
        <div class="h-100 w-100 fadein animation-duration-1000">
            <ui-theme-switcher/>
        </div>
    </ng-template>
</p-menubar>
